[[server]]
name = "local"
[server.config]
address = "https://172.17.0.1:8120"
enabled = true

##

[[stack]]
name = "archiv"
[stack.config]
server = "local"
run_build = true
poll_for_updates = true
destroy_before_deploy = true
linked_repo = "ops"
run_directory = "docker/archiv"
config_files = [
  { path = "Dockerfile", services = ["drupal"], requires = "Redeploy" }
]
environment = """
DOCKER_DATA_DIR=[[DOCKER_DATA_DIR]]
TRAEFIK_DOMAINNAME_1=[[TRAEFIK_DOMAINNAME_1]]
DATABASE_USERNAME=[[ARCHIV_DATABASE_USERNAME]]
DATABASE_PASSWORD=[[ARCHIV_DATABASE_PASSWORD]]
DATABASE_ROOT_PASSWORD=[[ARCHIV_DATABASE_ROOT_PASSWORD]]
"""

##

[[stack]]
name = "arma3sync-repo"
[stack.config]
server = "local"
run_build = true
poll_for_updates = true
auto_update = true
auto_update_all_services = true
destroy_before_deploy = true
linked_repo = "ops"
run_directory = "docker/arma3sync-repo"
config_files = [
  { path = "browse.html", requires = "Redeploy" }
]
environment = """
TRAEFIK_DOMAINNAME_1=[[TRAEFIK_DOMAINNAME_1]]
SMB_USERNAME=[[COMMON_SMB_USERNAME]]
SMB_PASSWORD=[[COMMON_SMB_PASSWORD]]
SMB_HOST=[[COMMON_SMB_HOST]]
SMB_PATH_REPO=[[ARMA3SYNC_REPO_SMB_PATH_REPO]]
SMB_PATH_MOD_STAGING=[[ARMA3SYNC_REPO_SMB_PATH_MOD_STAGING]]
SMB_PATH_LOCAL_MODS=[[ARMA3SYNC_REPO_SMB_PATH_LOCAL_MODS]]
MOUNT_PATH_MOD_STAGING=[[ARMA3SYNC_REPO_MOUNT_PATH_MOD_STAGING]]
MOUNT_PATH_LOCAL_MODS=[[ARMA3SYNC_REPO_MOUNT_PATH_LOCAL_MODS]]
"""

##

[[stack]]
name = "authentik"
[stack.config]
server = "local"
poll_for_updates = true
destroy_before_deploy = true
linked_repo = "ops"
run_directory = "docker/authentik"
environment = """
DOCKER_DATA_DIR=[[DOCKER_DATA_DIR]]
TRAEFIK_DOMAINNAME_1=[[TRAEFIK_DOMAINNAME_1]]
TRAEFIK_NETWORK_SUBNET=[[TRAEFIK_NETWORK_SUBNET]]
DATABASE_USERNAME=[[AUTHENTIK_DATABASE_USERNAME]]
DATABASE_PASSWORD=[[AUTHENTIK_DATABASE_PASSWORD]]
AUTHENTIK_SECRET_KEY=[[AUTHENTIK_SECRET_KEY]]
AUTHENTIK_EMAIL_HOST=[[COMMON_SMTP_HOST]]
AUTHENTIK_EMAIL_USERNAME=[[COMMON_SMTP_USER]]
AUTHENTIK_EMAIL_PASSWORD=[[COMMON_SMTP_PASSWORD]]
AUTHENTIK_EMAIL_FROM=[[COMMON_SMTP_NO_REPLY_EMAIL]]
"""

##

[[stack]]
name = "beszel"
[stack.config]
server = "local"
poll_for_updates = true
destroy_before_deploy = true
linked_repo = "ops"
run_directory = "docker/beszel"
environment = """
DOCKER_DATA_DIR=[[DOCKER_DATA_DIR]]
BESZEL_URL=[[BESZEL_URL]]
BESZEL_SYSTEM_KEY=[[BESZEL_SYSTEM_KEY]]
BESZEL_TOKEN=[[BESZEL_TOKEN]]
TZ=[[TZ]]
"""

##

[[stack]]
name = "bot-nachrichtenoffizier"
[stack.config]
server = "local"
run_build = true
poll_for_updates = true
destroy_before_deploy = true
linked_repo = "ops"
webhook_force_deploy = true
run_directory = "docker/bot-nachrichtenoffizier"
environment = """
DOCKER_DATA_DIR=[[DOCKER_DATA_DIR]]
DISCORD_TOKEN=[[BOT_NACHRICHTENOFFIZIER_DISCORD_TOKEN]]
CLIENT_ID=[[BOT_NACHRICHTENOFFIZIER_CLIENT_ID]]
"""

##

[[stack]]
name = "coredns"
[stack.config]
server = "local"
run_build = true
poll_for_updates = true
destroy_before_deploy = true
linked_repo = "ops"
webhook_force_deploy = true
run_directory = "docker/coredns"
environment = """
DOMAINNAME=[[TRAEFIK_DOMAINNAME_1]]
IPV4=[[TRAEFIK_ENTRYPOINT_INTERNAL_IPV4]]
IPV6=[[TRAEFIK_ENTRYPOINT_INTERNAL_IPV6]]
"""

##

[[stack]]
name = "komodo"
[stack.config]
server = "local"
poll_for_updates = true
linked_repo = "ops"
run_directory = "docker/komodo"
environment = """
DOCKER_DATA_DIR=[[DOCKER_DATA_DIR]]
KOMODO_DB_USERNAME=[[KOMODO_DB_USERNAME]]
KOMODO_DB_PASSWORD=[[KOMODO_DB_PASSWORD]]
KOMODO_PASSKEY=[[KOMODO_PASSKEY]]
KOMODO_HOST=[[KOMODO_HOST]]
KOMODO_WEBHOOK_SECRET=[[KOMODO_WEBHOOK_SECRET]]
KOMODO_LOCAL_AUTH=true
KOMODO_DISABLE_USER_REGISTRATION=true
TRAEFIK_DOMAINNAME_1=[[TRAEFIK_DOMAINNAME_1]]
"""

##

[[stack]]
name = "kopia"
[stack.config]
server = "local"
poll_for_updates = true
destroy_before_deploy = true
linked_repo = "ops"
run_directory = "docker/kopia"
environment = """
DOCKER_DATA_DIR=[[DOCKER_DATA_DIR]]
TRAEFIK_DOMAINNAME_1=[[TRAEFIK_DOMAINNAME_1]]
STATIC_HOSTNAME=[[KOPIA_STATIC_HOSTNAME]]
SERVER_USERNAME=[[KOPIA_SERVER_USERNAME]]
SERVER_PASSWORD=[[KOPIA_SERVER_PASSWORD]]
REPOSITORY_PASSWORD=[[KOPIA_REPOSITORY_PASSWORD]]
"""

##

[[stack]]
name = "legacy-website-beta"
[stack.config]
server = "local"
run_build = true
poll_for_updates = true
destroy_before_deploy = true
linked_repo = "ops"
webhook_force_deploy = true
run_directory = "docker/legacy-website-beta"
environment = """
DOCKER_DATA_DIR=[[DOCKER_DATA_DIR]]
TRAEFIK_DOMAINNAME_1=[[TRAEFIK_DOMAINNAME_1]]
DATABASE_USERNAME=[[LEGACY_WEBSITE_BETA_DATABASE_USERNAME]]
DATABASE_PASSWORD=[[LEGACY_WEBSITE_BETA_DATABASE_PASSWORD]]
DATABASE_ROOT_PASSWORD=[[LEGACY_WEBSITE_BETA_DATABASE_ROOT_PASSWORD]]
APP_KEY=[[LEGACY_WEBSITE_BETA_APP_KEY]]
LARASCORD_CLIENT_ID=[[LEGACY_WEBSITE_BETA_LARASCORD_CLIENT_ID]]
LARASCORD_CLIENT_SECRET=[[LEGACY_WEBSITE_BETA_LARASCORD_CLIENT_SECRET]]
SMB_USERNAME=[[COMMON_SMB_USERNAME]]
SMB_PASSWORD=[[COMMON_SMB_PASSWORD]]
SMB_HOST=[[COMMON_SMB_HOST]]
SMB_PATH_MISSIONS=[[COMMON_SMB_PATH_MISSIONS]]
"""

##

[[stack]]
name = "legacy-website-prod"
[stack.config]
server = "local"
run_build = true
poll_for_updates = true
destroy_before_deploy = true
linked_repo = "ops"
run_directory = "docker/legacy-website-prod"
environment = """
DOCKER_DATA_DIR=[[DOCKER_DATA_DIR]]
TRAEFIK_DOMAINNAME_1=[[TRAEFIK_DOMAINNAME_1]]
DATABASE_USERNAME=[[LEGACY_WEBSITE_PROD_DATABASE_USERNAME]]
DATABASE_PASSWORD=[[LEGACY_WEBSITE_PROD_DATABASE_PASSWORD]]
DATABASE_ROOT_PASSWORD=[[LEGACY_WEBSITE_PROD_DATABASE_ROOT_PASSWORD]]
APP_KEY=[[LEGACY_WEBSITE_PROD_APP_KEY]]
LARASCORD_CLIENT_ID=[[LEGACY_WEBSITE_PROD_LARASCORD_CLIENT_ID]]
LARASCORD_CLIENT_SECRET=[[LEGACY_WEBSITE_PROD_LARASCORD_CLIENT_SECRET]]
SMB_USERNAME=[[COMMON_SMB_USERNAME]]
SMB_PASSWORD=[[COMMON_SMB_PASSWORD]]
SMB_HOST=[[COMMON_SMB_HOST]]
SMB_PATH_MISSIONS=[[COMMON_SMB_PATH_MISSIONS]]
"""

##

[[stack]]
name = "matomo"
[stack.config]
server = "local"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
destroy_before_deploy = true
linked_repo = "ops"
run_directory = "docker/matomo"
environment = """
DOCKER_DATA_DIR=[[DOCKER_DATA_DIR]]
TRAEFIK_DOMAINNAME_1=[[TRAEFIK_DOMAINNAME_1]]
DATABASE_USERNAME=[[MATOMO_DATABASE_USERNAME]]
DATABASE_PASSWORD=[[MATOMO_DATABASE_PASSWORD]]
DATABASE_ROOT_PASSWORD=[[MATOMO_DATABASE_ROOT_PASSWORD]]
"""

##

[[stack]]
name = "missions"
[stack.config]
server = "local"
run_build = true
poll_for_updates = true
auto_update = true
auto_update_all_services = true
destroy_before_deploy = true
linked_repo = "ops"
run_directory = "docker/missions"
config_files = [
  { path = "browse.html", requires = "Redeploy" }
]
environment = """
TRAEFIK_DOMAINNAME_1=[[TRAEFIK_DOMAINNAME_1]]
SMB_USERNAME=[[COMMON_SMB_USERNAME]]
SMB_PASSWORD=[[COMMON_SMB_PASSWORD]]
SMB_HOST=[[COMMON_SMB_HOST]]
SMB_PATH_MISSIONS=[[COMMON_SMB_PATH_MISSIONS]]
SMB_PATH_MISSIONS_ARCHIVE=[[MISSIONS_SMB_PATH_MISSIONS_ARCHIVE]]
"""

##

[[stack]]
name = "nextcloud"
[stack.config]
server = "local"
poll_for_updates = true
destroy_before_deploy = true
linked_repo = "ops"
run_directory = "docker/nextcloud"
environment = """
DOCKER_DATA_DIR=[[DOCKER_DATA_DIR]]
TRAEFIK_DOMAINNAME_1=[[TRAEFIK_DOMAINNAME_1]]
DATABASE_USERNAME=[[NEXTCLOUD_DATABASE_USERNAME]]
DATABASE_PASSWORD=[[NEXTCLOUD_DATABASE_PASSWORD]]
DATABASE_ROOT_PASSWORD=[[NEXTCLOUD_DATABASE_ROOT_PASSWORD]]
TRUSTED_PROXIES=[[TRAEFIK_NETWORK_SUBNET]]
"""

##

[[stack]]
name = "ocap"
[stack.config]
server = "local"
run_build = true
poll_for_updates = true
destroy_before_deploy = true
linked_repo = "ops"
run_directory = "docker/ocap"
environment = """
DOCKER_DATA_DIR=[[DOCKER_DATA_DIR]]
TRAEFIK_DOMAINNAME_1=[[TRAEFIK_DOMAINNAME_1]]
OCAP_SECRET=[[OCAP_SECRET]]
"""

##

[[stack]]
name = "traefik"
[stack.config]
server = "local"
poll_for_updates = true
destroy_before_deploy = true
linked_repo = "ops"
run_directory = "docker/traefik"
environment = """
DOCKER_DATA_DIR=[[DOCKER_DATA_DIR]]
CF_DNS_API_TOKEN=[[TRAEFIK_CF_DNS_API_TOKEN]]
DOMAINNAME_1=[[TRAEFIK_DOMAINNAME_1]]
DOMAINNAME_1_EMAIL=[[TRAEFIK_DOMAINNAME_1_EMAIL]]
ENTRYPOINT_INTERNAL_IPV4=[[TRAEFIK_ENTRYPOINT_INTERNAL_IPV4]]
ENTRYPOINT_INTERNAL_IPV6=[[TRAEFIK_ENTRYPOINT_INTERNAL_IPV6]]
ENTRYPOINT_EXTERNAL_IPV4=[[TRAEFIK_ENTRYPOINT_EXTERNAL_IPV4]]
ENTRYPOINT_EXTERNAL_IPV6=[[TRAEFIK_ENTRYPOINT_EXTERNAL_IPV6]]
NETWORK_SUBNET=[[TRAEFIK_NETWORK_SUBNET]]
"""

##

[[repo]]
name = "ops"
[repo.config]
server = "local"
builder = "Local"
git_account = "scottmillergit"
repo = "TacticalTrainingTeam/ops"
webhook_enabled = false

##

[[procedure]]
name = "Backup Core Database"
description = "Triggers the Core database backup at the scheduled time."
tags = ["system"]
config.schedule_alert = false
config.schedule = "Every day at 01:00"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "BackupCoreDatabase", execution.params = {}, enabled = true }
]

##

[[procedure]]
name = "GitOps"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "PullRepo", execution.params.repo = "ops", enabled = true }
]

[[procedure.config.stage]]
name = "Stage 2"
enabled = true
executions = [
  { execution.type = "RunSync", execution.params.sync = "ops", enabled = true }
]

[[procedure.config.stage]]
name = "Stage 3"
enabled = true
executions = [
  { execution.type = "BatchDeployStackIfChanged", execution.params.pattern = "*", enabled = true }
]

##

[[procedure]]
name = "Global Auto Update"
description = "Pulls and auto updates Stacks and Deployments using 'poll_for_updates' or 'auto_update'."
tags = ["system"]
config.schedule_alert = false
config.schedule = "Every day at 03:00"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "GlobalAutoUpdate", execution.params = {}, enabled = true }
]

##

[[alerter]]
name = "Discord"
[alerter.config]
enabled = true
endpoint.type = "Discord"
endpoint.params.url = "[[KOMODO_DISCORD_ALERTS_WEBHOOK]]"

##

[[builder]]
name = "Local"
[builder.config]
type = "Server"
params.server_id = "local"

##

[[resource_sync]]
name = "ops"
[resource_sync.config]
linked_repo = "ops"
resource_path = ["komodo/docker0.toml"]
managed = true
delete = true