services:
  coredns:
    image: "coredns/coredns:1.13.2"
    container_name: "coredns"
    restart: "unless-stopped"
    command: "-conf /etc/coredns/Corefile -dns.port 53"
    security_opt:
      - "no-new-privileges:true"
    ports:
      - "${IPV4:?error}:53:53"
      - "${IPV4:?error}:53:53/udp"
      - "[${IPV6:?error}]:53:53"
      - "[${IPV6:?error}]:53:53/udp"
    configs:
      - source: "corefile"
        target: "/etc/coredns/Corefile"

configs:
  corefile:
    content: |
      ${DOMAINNAME?error} {
        log
        errors
      
        hosts {
          ${IPV4:?error} backup.${DOMAINNAME?error}
          ${IPV6:?error} backup.${DOMAINNAME?error}
      
          ${IPV4:?error} komodo.${DOMAINNAME?error}
          ${IPV6:?error} komodo.${DOMAINNAME?error}
      
          ${IPV4:?error} docker0.${DOMAINNAME?error}
          ${IPV6:?error} docker0.${DOMAINNAME?error}
      
          ${IPV4:?error} traefik.${DOMAINNAME?error}
          ${IPV6:?error} traefik.${DOMAINNAME?error}
      
          ${IPV4:?error} archiv.${DOMAINNAME?error}
          ${IPV6:?error} archiv.${DOMAINNAME?error}
      
          ${IPV4:?error} files-legacy.${DOMAINNAME?error}
          ${IPV6:?error} files-legacy.${DOMAINNAME?error}
      
          fallthrough
        }
      
        forward . 9.9.9.9 1.1.1.1 8.8.8.8
      
      }
        
      . {
        log
        errors
        forward . 9.9.9.9 1.1.1.1 8.8.8.8
      }
