services:
  drupal:
    build: "."
    container_name: "${COMPOSE_PROJECT_NAME:?error}-drupal"
    restart: "unless-stopped"
    security_opt:
      - "no-new-privileges:true"
    environment:
      TZ: "Europe/Berlin"
    networks:
      default:
      proxy:
    labels:
      traefik.enable: true
      traefik.http.routers.archiv.entrypoints: "websecure-internal"
      traefik.http.routers.archiv.rule: "Host(`archiv.${TRAEFIK_DOMAINNAME_1:?error}`)"
      traefik.http.routers.archiv.service: "archiv"
      traefik.http.services.archiv.loadbalancer.server.port: 80
    volumes:
      - "${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/html:/var/www/html:z"
    depends_on:
      db:
        condition: "service_healthy"
  db:
    image: "mariadb:lts"
    container_name: "${COMPOSE_PROJECT_NAME:?error}-db"
    restart: "unless-stopped"
    security_opt:
      - "no-new-privileges:true"
    environment:
      MARIADB_AUTO_UPGRADE: "1"
      MARIADB_DISABLE_UPGRADE_BACKUP: "1"
      MARIADB_DATABASE: "${DATABASE_DBNAME:-forum_db}"
      MARIADB_ROOT_PASSWORD: "${DATABASE_ROOT_PASSWORD:?error}"
      MARIADB_USER: "${DATABASE_USERNAME:?error}"
      MARIADB_PASSWORD: "${DATABASE_PASSWORD:?error}"
      TZ: "Europe/Berlin"
    volumes:
      - "${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/db:/var/lib/mysql:z"
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      start_period: "10s"
      interval: "10s"
      timeout: "5s"
      retries: 3
  db-backup:
    container_name: "${COMPOSE_PROJECT_NAME:?error}-db-backup"
    image: "tiredofit/db-backup:4.1.21"
    restart: "unless-stopped"
    security_opt:
      - "no-new-privileges:true"
    volumes:
      - "${DOCKER_DATA_DIR:?error}/${COMPOSE_PROJECT_NAME:?error}/db-backups:/backup:z"
    environment:
      TZ: "Europe/Berlin"
      TIMEZONE: "Europe/Berlin"
      CONTAINER_NAME: "${COMPOSE_PROJECT_NAME:?error}-db-backup"
      CONTAINER_ENABLE_MONITORING: "FALSE"
      DEFAULT_BACKUP_BEGIN: "0 2 * * *"
      DEFAULT_CLEANUP_TIME: "8640" # Cleanup after 7 days
      DB01_TYPE: "mariadb"
      DB01_HOST: "db"
      DB01_NAME: "${DATABASE_DBNAME:-forum_db}"
      DB01_USER: "${DATABASE_USERNAME:?error}"
      DB01_PASS: "${DATABASE_PASSWORD:?error}"
networks:
  default: {}
  proxy:
    external: true
    name: "${TRAEFIK_NETWORK_NAME:-proxy}"
